.container {
  width: 100vw;
  display: flex;
  border: black solid 2px;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}
.items {
  width: 200px;
  border: blue solid 2px;
}

.header {
  width: 100%;
  margin: auto;
}
