.title {
  display: block;
  width: 100vw;
  height: 100vh;
  210, 210);
  background: red;
}

@media all and (min-width: 480px) {
  .title {
    background: yellow;
  }
}


    
@media all and (min-width: 768px) {
    .title {
      background: green;
    }