.container {
  display: flex;
  background-color: rgb(230, 48, 205);
  border: 2px solid black;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.caja {
  height: 100px;
  width: 200px;
  background-color: rgb(208, 86, 224);
  border: rgb(94, 12, 119) 1px solid;
  color: black;
  text-align: center;
}
