.container {
  width: 500px;
  height: 500px;
  display: flex;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  flex-direction: column;
}

.caja {
  height: 500px;
  width: 50 px;
  background-color: rgb(233, 196, 238);
  border: black 1px solid;
  color: black;
}
